@model [custom].GetUsers.Model

<div class="row">
    <div class="col-12 ml-auto">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-md-9 col-sm-9">
                        <h5 class="m-0"><i class="fas fa-users"></i> Users</h5>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <form asp-action="Index" method="get">
                       
                                    <select asp-for="ActiveUsersOnly" asp-items="Model.UserTypeListItems" class="form-control form-control-sm filter-dropdown"></select>
                          
                        </form>
                    </div>
                    <div class="col-md-1 col-sm-1 text-right">
                        <a asp-action="AddUser" asp-controller="UserAdmin" data-target="#modalMedium" data-toggle="modal" class="btn btn-primary btn-sm">
                            Add User <i class="fas fa-plus-circle"></i>
                        </a>
              
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="users-table" class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Role</th>
                            <th>Title</th>
                            <th>Active</th>
                            <th>Color</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr @user.InactiveCSS>
                                <td class="align-middle">@user.UserID</td>
                                <td class="align-middle">@user.FirstName</td>
                                <td class="align-middle">@user.LastName</td>
                                <td class="align-middle">@user.Role</td>
                                <td class="align-middle text-center">@user.Title</td>
                                <td class="align-middle text-center">@user.IsActive</td>
                                <td class="align-middle text-center">
                                    <a asp-action="Detail" class="btn btn-primary btn-sm" asp-route-id="@user.ID">View/Edit <i class="fa fa-edit fa-2" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade blg-modal" id="modalMedium" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<div class="modal fade blg-modal" id="modalLarge" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(".filter-dropdown").change(function () {
            this.form.submit();
        });

        $('#users-table').DataTable({ // datatable library sorts users in a table, adds sort and search capability
            "pagingType": "full_numbers",
            "order": [[0, "asc"], [1, "asc"]],
            "iDisplayLength": 25,
            "bLengthChange": false,
        });
    </script>
}
